.global{
    background-image: url("https://img.buzzfeed.com/buzzfeed-static/static/2020-10/6/16/campaign_images/9232fa5697f6/solo-alguien-que-realmente-ama-a-los-perritos-va--2-9794-1602001787-17_dblbig.jpg?resize=1200:*");
    position:fixed;
    min-width: 100%;
    min-height:100%;
    background-size: cover;
    background-position:center;
    top: 0;
    left: 0;
}
.container{
    height: 800px;
    border-style: solid;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: rgb(255, 211, 154);
    
}
.inputs{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
.image{
    height: 800px;    
}

    

    