.divBig{
    background-color: khaki;
    position: fixed;
    min-width: 100%;
    min-height:100%;
    background-size: cover;
    background-position: center;
    top: 0;
    left: 0;

    width: 1850px;
    height: 900px;
    
    
   
}

.paginationContainer{
    border-style: solid;
    
}