
.pagination{
    display: flex;
    list-style: none;
    text-decoration: none;
    
}
.nums{
    margin-left: 70px;
    text-decoration: none;
    align-items: stretch;
    
}
.vincules{
    text-decoration: none;
    color:#4673B6;
    font-weight: bold;
    text-shadow: -1px -1px 1px #000, 1px 1px 1px #000, -1px 1px 1px #000, 1px -1px 1px #000;
}

